<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumnos de Gryffindor</title>
</head>
    <body>
        <div class="grid _housesCointaner">
            <!-- Griffindor -->
            <div *ngIf="hasGriffindor" class="text-center xl:text-left col-12 xl:col-3">
                <h1 class="text-xl">Alumnos Griffindor</h1>
                <ng-container *ngFor="let alumno of alumnosGriffindor; let i = index">
                    <ul>
                        <li>{{ alumno }}</li>
                        <li *ngIf="pociones" [style.color]="(notasPocionesGriffindor[i] | notaConColor).color">{{ notasPocionesGriffindor[i] }}</li>
                        <li *ngIf="defensa" [style.color]="(notasDefensaGriffindor[i] | notaConColor).color">{{ notasDefensaGriffindor[i] }}</li>
                        <li *ngIf="encantamientos" [style.color]="(notasEncantamientosGriffindor[i] | notaConColor).color">{{ notasEncantamientosGriffindor[i] }}</li>
                        <li *ngIf="historia" [style.color]="(notasHistoriaGriffindor[i] | notaConColor).color">{{ notasHistoriaGriffindor[i] }}</li>
                        <li *ngIf="quidditch" [style.color]="(notasQuidditchGriffindor[i] | notaConColor).color">{{ notasQuidditchGriffindor[i] }}</li>
                        <li *ngIf="criaturas" [style.color]="(notasCriaturasGriffindor[i] | notaConColor).color">{{ notasCriaturasGriffindor[i] }}</li>
                        <li *ngIf="aritmancia" [style.color]="(notasAritmanciaGriffindor[i] | notaConColor).color">{{ notasAritmanciaGriffindor[i] }}</li>
                        <li *ngIf="adivinacion" [style.color]="(notasAdivinacionGriffindor[i] | notaConColor).color">{{ notasAdivinacionGriffindor[i] }}</li>
                    </ul>
                </ng-container>
            </div>
            <!-- Slytherin -->
            <div *ngIf="hasSlytherin" class="text-center xl:text-left col-12 xl:col-3">
                <h1 class="text-2xl">Alumnos Slytherin</h1> 
                <ng-container *ngFor="let alumno of alumnosSlytherin; let i = index">
                    <ul>
                        <li>{{ alumno }}</li>
                        <li *ngIf="pociones" [style.color]="(notasPocionesSlytherin[i] | notaConColor).color">{{ notasPocionesSlytherin[i] }}</li>
                        <li *ngIf="defensa" [style.color]="(notasDefensaSlytherin[i] | notaConColor).color">{{ notasDefensaSlytherin[i] }}</li>
                        <li *ngIf="encantamientos" [style.color]="(notasEncantamientosSlytherin[i] | notaConColor).color">{{ notasEncantamientosSlytherin[i] }}</li>
                        <li *ngIf="historia" [style.color]="(notasHistoriaSlytherin[i] | notaConColor).color">{{ notasHistoriaSlytherin[i] }}</li>
                        <li *ngIf="quidditch" [style.color]="(notasQuidditchSlytherin[i] | notaConColor).color">{{ notasQuidditchSlytherin[i] }}</li>
                        <li *ngIf="criaturas" [style.color]="(notasCriaturasSlytherin[i] | notaConColor).color">{{ notasCriaturasSlytherin[i] }}</li>
                        <li *ngIf="aritmancia" [style.color]="(notasAritmanciaSlytherin[i] | notaConColor).color">{{ notasAritmanciaSlytherin[i] }}</li>
                        <li *ngIf="adivinacion" [style.color]="(notasAdivinacionSlytherin[i] | notaConColor).color">{{ notasAdivinacionSlytherin[i] }}</li>
                    </ul>
                </ng-container>
            </div>
            <!-- Hufflepuff -->
            <div *ngIf="hasHufflepuff" class="text-center xl:text-left col-12 xl:col-3">
                <h1 class="text-2xl">Alumnos Hufflepuff</h1> 
                <ng-container *ngFor="let alumno of alumnosHufflepuff; let i = index">
                    <ul>
                        <li>{{ alumno }}</li>
                        <li *ngIf="pociones" [style.color]="(notasPocionesHufflepuff[i] | notaConColor).color">{{ notasPocionesHufflepuff[i] }}</li>
                        <li *ngIf="defensa" [style.color]="(notasDefensaHufflepuff[i] | notaConColor).color">{{ notasDefensaHufflepuff[i] }}</li>
                        <li *ngIf="encantamientos" [style.color]="(notasEncantamientosHufflepuff[i] | notaConColor).color">{{ notasEncantamientosHufflepuff[i] }}</li>
                        <li *ngIf="historia" [style.color]="(notasHistoriaHufflepuff[i] | notaConColor).color">{{ notasHistoriaHufflepuff[i] }}</li>
                        <li *ngIf="quidditch" [style.color]="(notasQuidditchHufflepuff[i] | notaConColor).color">{{ notasQuidditchHufflepuff[i] }}</li>
                        <li *ngIf="criaturas" [style.color]="(notasCriaturasHufflepuff[i] | notaConColor).color">{{ notasCriaturasHufflepuff[i] }}</li>
                        <li *ngIf="aritmancia" [style.color]="(notasAritmanciaHufflepuff[i] | notaConColor).color">{{ notasAritmanciaHufflepuff[i] }}</li>
                        <li *ngIf="adivinacion" [style.color]="(notasAdivinacionHufflepuff[i] | notaConColor).color">{{ notasAdivinacionHufflepuff[i] }}</li>
                    </ul>      
                </ng-container>
            </div>
            <div *ngIf="hasRavenclaw" class="text-center xl:text-left col-12 xl:col-3">
                <h1 class="text-2xl">Alumnos Ravenclaw</h1> 
                <ul>
                    <li *ngFor="let alumno of alumnosRavenclaw">{{ alumno }}</li>
                </ul>         
            </div>
        </div>        
    </body>
</html>