@font-face {
    font-family: 'HARRYP__';
    src: url('../../../assets/fonts/HARRYP__.TTF') format('woff2'), 
         url('../../../assets/fonts/HARRYP__.TTF') format('woff'); 
   
}

.font-harry{
    font-family: 'HARRYP__', sans-serif;
}