<form class="mt-2">
    <div class="grid">
        <div class="col-12">
            <!-- Nombre del hechizo -->
            <div class="flex pt-2 align-items-center">
                <label class="col-3 flex justify-content-end px-0 font-bold text-base mt-1">Nombre del hechizo: </label>
                <input 
                    class="col-6 mx-1 form__input-field-style w-6"  
                    type="text"  
                    name="ownerName" 
                    #inputOwnerName 
                    maxlength="80" 
                    placeholder="¿Como se llama el hechizo?"
                    tabindex="1"
                />
                <div class="col-3 px-0"></div>
            </div>                    
            <!-- Tipo de hechizo -->
            <div class="flex pt-2 align-items-center">
                <label class="col-3 flex justify-content-end px-0 font-bold text-base mt-1">Tipo del hechizo: </label>
                <input 
                    class="col-6 mx-1 form__input-field-style w-6"  
                    type="text"   
                    name="assetName" 
                    #inputPlantName
                    pInputText  
                    maxlength="80"
                    placeholder="¿El hechizo es de apoyo, defensivo u ofensivo?"
                    tabindex="2" 
                />
                <div class="col-3 px-0"></div>
            </div>
            <!-- Nivel del hechizo -->
            <div class="flex pt-2 align-items-center">
                <label class="col-3 flex justify-content-end px-0 font-bold text-base mt-1">Nivel del hechizo: </label>
                <input 
                    class="col-6 mx-1 form__input-field-style w-6"  
                    type="text"   
                    name="assetName" 
                    #inputPlantName
                    pInputText  
                    maxlength="80"
                    placeholder="¿El hechizo es de nivel principiante, medio o experto?"
                    tabindex="3" 
                />
                <div class="col-3 px-0"></div>
            </div>
        </div>
        <!-- Confirm/Cancel Buttons -->
        <div class="col-12 xl:mt-2 text-center">
            <button                         
                pButton 
                pRipple 
                type="button" 
                icon="pi pi-search"
                class="w-auto h-2rem border-round-md text-base"
                tabindex="6">Aceptar
            </button>
            <button
                pButton 
                pRipple 
                type="button" 
                icon="pi pi-search"
                class="w-auto h-2rem border-round-md text-base ml-2"
                tabindex="6"
                (click)="closeModal()">Cancelar</button>
        </div>
    </div>
</form>  