<div class="bg-blue-700">
    <form class="mt-2">
        <div class="grid">
            <div class="col-12 text-white">
                <!-- Nombre del hechizo -->
                <div class="flex pt-2 align-items-center">
                    <label class="col-3 flex justify-content-end px-0 font-bold text-base mt-1">Nombre del hechizo: </label>
                    <input 
                        #firstElement
                        class="col-6 mx-1 form__input-field-style w-6 highlightable"  
                        type="text"  
                        name="ownerName" 
                        #inputOwnerName 
                        maxlength="80" 
                        placeholder="tabindex='1'"
                        tabindex="1"
                    />
                    <div class="col-3 px-0"></div>
                </div>                    
                <!-- Tipo de hechizo -->
                <div class="flex pt-2 align-items-center">
                    <label class="col-3 flex justify-content-end px-0 font-bold text-base mt-1">Tipo del hechizo: </label>
                    <input 
                        class="col-6 mx-1 form__input-field-style w-6 highlightable"  
                        type="text"   
                        name="assetName" 
                        #inputPlantName
                        pInputText  
                        maxlength="80"
                        placeholder="tabindex='2'"
                        tabindex="2" 
                    />
                    <div class="col-3 px-0"></div>
                </div>
                <!-- Nivel del hechizo -->
                <div class="flex pt-2 align-items-center">
                    <label class="col-3 flex justify-content-end px-0 font-bold text-base mt-1">Nivel del hechizo: </label>
                    <input 
                        class="col-6 mx-1 form__input-field-style w-6 highlightable"  
                        type="text"   
                        name="assetName" 
                        #inputPlantName
                        pInputText  
                        maxlength="80"
                        placeholder="¿El hechizo es de nivel principiante, medio o experto?"
                        placeholder="tabindex='3'"
                        tabindex="3" 
                    />
                    <div class="col-3 px-0"></div>
                </div>
                <!-- Confirm/Cancel Buttons -->
                <div class="col-12 xl:mt-2 text-center">
                    <button                         
                        pButton 
                        pRipple 
                        type="button" 
                        icon="pi pi-search"
                        class="w-auto h-2rem border-round-md text-base highlightable"
                        tabindex="4"
                        (click)="closeModal()">Aceptar
                    </button>
                    <button
                        pButton 
                        pRipple 
                        type="button" 
                        icon="pi pi-search"
                        class="w-auto h-2rem border-round-md text-base ml-2 highlightable"
                        tabindex="5"
                        (click)="closeModal()">Cancelar</button>
                </div>
            </div>
        </div>
    </form>  
</div>