<app-alumnos></app-alumnos>

<!-- Materias obligatorias -->
<div class="grid">
    <span class="col-12 text-center">Materias obligatorias</span>
    <span class="btn-container col-3">
        <button>Pociones</button>
    </span>
    <span class="btn-container col-3">
        <button>Defensa contra las artes oscuras</button>
    </span>
    <span class="btn-container col-3">
        <button>Encantamientos</button>
    </span>
    <span class="btn-container col-3">
        <button>Historia de la Magia</button>
    </span>
</div>
<!-- Materias opcionales -->
<div class="grid">
    <span class="col-12 text-center">Materias opcionales</span>
    <span class="btn-container col-3">
        <button>Quidditch</button>
    </span>
    <span class="btn-container col-3">
        <button>Cuidado de Criaturas Mágicas</button>
    </span>
    <span class="btn-container col-3">
        <button>Aritmancia</button>
    </span>
    <span class="btn-container col-3">
        <button>Adivinación</button>
    </span>
</div>