<app-alumnos></app-alumnos>

<!-- Materias obligatorias -->
<div class="grid">
    <span class="col-12 text-center">Materias obligatorias</span>
    <span class="btn-container col-3">
        <p-button (click)="requestPociones">Pociones</p-button>
    </span>
    <span class="btn-container col-3">
        <p-button (click)="requestDefensa">Defensa contra las artes oscuras</p-button>
    </span>
    <span class="btn-container col-3">
        <p-button (click)="requestEncantamientos">Encantamientos</p-button>
    </span>
    <span class="btn-container col-3">
        <p-button (click)="requestHistoria">Historia de la Magia</p-button>
    </span>
</div>
<!-- Materias opcionales -->
<div class="grid">
    <span class="col-12 text-center">Materias opcionales</span>
    <span class="btn-container col-3">
        <p-button (click)="requestQuidditch">Quidditch</p-button>
    </span>
    <span class="btn-container col-3">
        <p-button (click)="requestCriaturas">Cuidado de Criaturas Mágicas</p-button>
    </span>
    <span class="btn-container col-3">
        <p-button (click)="requestAritmancia">Aritmancia</p-button>
    </span>
    <span class="btn-container col-3">
        <p-button (click)="requestAdivinacion">Adivinacion</p-button>
    </span>
</div>