@import "primeng/resources/themes/lara-light-blue/theme.css";
//@import "primeng/resources/primeng.css";

body{
    background-image: url("../src/assets/img/background.jpg");
    background-size: cover;    
}

.btn-custom{
    width: 280px;
    height: 50px;
    border-radius: 5px;
    background-color: yellowgreen;
    border: none;
    color: white;
    font-size: large;
}

.btn-custom:hover{
    cursor: pointer;
}

.btn-selected {
    background-color: gray;
}
 
li {
list-style-type: none;
}